@use "abstracts/vars/colors" as c;

.introduction{
   padding: 1.5rem;
   text-align: center;

   @media screen and (min-width: 768px){
      max-width: 900px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 100px;
   }

   &__title{
      color: c.$dark-grayish-blue;
      
      @media screen and (min-width: 350px){
         font-size: 2rem;
      }
   }

   &__text{
      color: c.$grayish-blue;
      line-height: 1.5;

      
      @media screen and (min-width: 768px){
         font-size: 1.2rem;
      }
   }
}